<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />


</head>

<body>
    <div id="wrapper">
        <!-- start header -->
        <header>


        </header>
    </div>
    <!-- end header -->
    <section id="featured">
        <!-- start slider -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Slider -->
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/assets/1.jpg" alt="" />
                                <div class="flex-caption">
                                    <h3>Bienvenido administrado</h3>
                                    <p>Tienes en tus manos el control total sobre la aplicacion MediWeb, asegurate siempre de usar de la mejor manera dicha aplicación...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>



    </section>
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>ADMINISTRADOR</span> estas son las funciones que puedes realizar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Agregar a Doctores</h4>
                                    <div class="icon">
                                        <i class="fa fa-desktop fa-3x"></i>
                                    </div>
                                    <p>
                                        En este apartado puedes agregar, editar y eliminar a los doctores colaboradores.
                                    </p>
                                    <button routerLink="/doctor" routerLinkActive="active" type="button" class="btn btn-danger">Doctores</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Listar Todos los Usuarios</h4>
                                    <div class="icon">
                                        <i class="fa fa-pagelines fa-3x"></i>
                                    </div>
                                    <p>
                                        Puedes visualizar a todos los usuarios registrados, editarlos y eliminarlos e imprimirlos.
                                    </p>
                                    <button routerLink="/usuariospdf" routerLinkActive="active" type="button" class="btn btn-danger">Usuarios</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Visualizar Foro</h4>
                                    <div class="icon">
                                        <i class="fa fa-edit fa-3x"></i>
                                    </div>
                                    <p>
                                        En este apartado puedes visualizar el foro de MediWeb
                                    </p>
                                    <button routerLink="/foro" routerLinkActive="active" type="button" class="btn btn-danger">Foro</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Graficas</h4>
                                    <div class="icon">
                                        <i class="fa fa-code fa-3x"></i>
                                    </div>
                                    <p>
                                        Puedes ver graficas sobre temas relacionados a medicina
                                    </p>
                                    <button routerLink="/graficas" routerLinkActive="active" type="button" class="btn btn-danger">Graficas</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- divider -->


        </div>
    </section>

</body>

</html>
