<html lang="en">

<body>
    <img class="wave" src="assets/fondo.png">
    <div class="container">

        <div class="img">
            <img src="assets/fondo2.svg">
        </div>
        <div class="login-content">
            <form action="index.html">
                <img src="assets/perfil.svg">
                <h2 class="title">Bienvenido a MediWeb</h2><br>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="mb-2">
                        <h5>Username</h5>
                        <input type="text" class="input" id="exampleInputUsername1" aria-describedby="username" name="username" #username="ngModel" [(ngModel)]="usuarioModel.username">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="mb-2">
                        <h5>Password</h5>
                        <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="password" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
                    </div>
                </div><br>
                <a href="/registrar">No tiene cuenta?</a>
                <input type="submit" class="btn" (click)="login()" value="Entrar">
            </form>
        </div>
    </div>
</body>

</html>
